.mainbody {
    margin: 0px auto;
    width: 80%;
    }
.behingthescenesflex h1{
    text-align: center;
    font-size: 40px;
    color: #eb681d;
    margin-bottom: -10px;
    }
.mainbody h3 {
    text-align: center;
    font-weight:normal;
    margin-bottom: 50px;
}
.mifoldmain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 30px auto;
    flex-direction: row-reverse;
}

.mifoldflex h1 {
    font-size: 50px;
}
.mifoldflex p {
    font-size: 20px;
}
.mifoldflex{
    margin: 0px 20px
}
.productslayer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    max-width: 80%;
}
.productslayer1 img{
    margin: 4px;
    flex:1;

}
.productslayer1 img:hover{
    outline: 4px solid rgb(173, 173, 173);;
    outline-offset: -4px;
}
.productslayer2 {
    flex:1;
    display: flex;
    flex-direction: column;
    }

.productslayer3{
    display: flex;       
    justify-content: center;
    align-items: center;
    }
.productslayer3 img{
    flex:1
}
.orangeline{
    width: 20%;
    height: 2px;
    background-color: #eb681d;
    margin-top: 42px;
    margin-left: 20px;
    margin-right: 20px;
}

#flexmitarbeiter, .behingthescenesflex {
    display: flex;
    justify-content: center;
    align-items: center;
    }
#flexmitarbeiter {
    width: 60%;
    margin: 0px auto;

}
.mitarbeiter, .mifoldflex {
    flex:1;
    text-align: center;
}

.photos {
    border-radius: 250px;
    border: 3px solid #ec671b;
    height: 150px;
    margin: 10px 0px;
}
.photos:hover{
    margin: 10px -2px;
    box-shadow: 0px 0px 5px #eb681d;
    }
.boldnames {
    font-weight: bold;
}
.jobtitle {
    margin-top: -10px;
    }



    /* Rules if the screen less than 900px wide / a tablet */

    @media only screen and (max-width: 900px) {
        .productslayer1 {
            flex-wrap: wrap;
        }
        .mifoldmain {
            flex-direction: column;
        }
        #flexmitarbeiter {
            width: 95%;
        }
        .mifoldflex h1 {
            font-size: 35px;
        }
    }


    /* Rules if the screen less than 600px wide / a mobile phone */
    

    @media only screen and (max-width: 600px) {
        .productslayer1 {
            flex-direction: column;
        }
        .productslayer1 img {
            width: 100%;
            margin: 0px;
        }
        .mifoldmain {
            flex-direction: column;
        }
        .photos {
            border-radius: 150px;
            border: 3px solid #ec671b;
            height: 100px;
            margin: 10px 0px;
            }
        .photos:hover{
            margin: 10px 0px;
            box-shadow: 0px 0px 0px;
        }
        #flexmitarbeiter {
            width: 95%;
        }
        .mifoldflex h1 {
            font-size: 25px;
        }
    }
